/* html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
} */

* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f0efef;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

button,
input,
select {
	border: none;
	outline: none;
}

/****************
      FORM
*****************/
.card {
	background-color: white;
	min-width: 100%;
	max-width: 600px;
	padding: 50px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h1 {
	text-align: center;
	color: #34a853;
}
h2 {
	text-align: center;
	font-size: 1.1rem;
	font-weight: lighter;
	margin-bottom: 40px;
}

h2 span {
	text-decoration: underline;
	cursor: pointer;
	color: #34a853;
}

ul {
	list-style-type: none;
}

li {
	background-color: rgb(250, 182, 182);
	border: 1px solid black;
}

/*  Field */
.field {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.field:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 2px;
	background: #34a853;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.4s ease;
}

.field:hover:before {
	width: 100%;
}

/*  Input, Select */
input,
select {
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
	padding: 10px 2px 0;
	border-bottom: 2px solid #e0e0e0;
}

/*  Label */
label {
	color: #bdbdbd;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2px;
	font-size: 1.1rem;
	transition: all 0.3s ease;
}

input:focus + .label,
input:valid + .label {
	top: 0;
	font-size: 1rem;
	background-color: white;
}

/*  Button */
button {
	background: #34a853;
	color: white;
	padding: 12px 0;
	font-size: 1.1rem;
	border-radius: 25px;
	cursor: pointer;
}

button:hover {
	background: #298d44;
}
